body {
  font-family: 'Nixie One', cursive;
  background: #333;
  color: white;
}

.header {
  width: 100%;
  height: 145px;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  font-size: 3em;
}
